{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="col s12 das-title">
    <h1>Bienes</h1>
</div>
<div class="col s12">
    <table class="das-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th colspan="2">Núcleo</th>
            </tr>
        </thead>
        <tbody>
            {% for bien in object_list %}
                <tr>
                    <td>{{ bien.id }}</td>
                    <td>{{ bien.nombre }}</td>
                    <td class="table-fecha">{{ bien.fecha }}</td>
                    <td>{{ bien.nucleo }}</td>
                    <td style="width: 150px;">
                        <a href="{% url 'principal:bien' bien.id %}" class="lan-btn black"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}