{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="col s12 das-title">
    <h1>Desincorporación de bienes</h1>
</div>
<div class="col s12">
    <table class="das-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Núcleo</th>
                <th>Bien</th>
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Ospino</td>
                <td>Silla hergonómica</td>
                <td>
                    <a href="#" class="lan-btn"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}