{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>OSRJG</title>
	<link rel="icon" href="{% static 'img/icono.jpg' %}">
	<link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'lib/materialize/css/materialize.min.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<header class="lan-header" id="lan-header">
		<nav class="lan-header-nav">
			<ul>
				<li><a href="{% url 'principal:index' %}"><i class="fa fa-home"></i></a></li>
				<li class="lan-header-nav-hidden"><a href="#galeria">Galería</a></li>
				<li class="lan-header-nav-hidden"><a href="#nosotros">Nosotros</a></li>
				<li class="lan-header-nav-hidden"><a href="#contacto">Contacto</a></li>
			</ul>
		</nav>
		<a href="{% url 'principal:login' %}" class="lan-btn sticky" id="lan-btn-sticky">ENTRAR</a>
	</header>
	<main>
		<div class="lan-main">
			<img class="lan-main-img" id="lan-main-img" src="{% static 'img/banner.jpg' %}" alt="orquesta guanare">
			<h1 class="lan-title">
				<img src="{% static 'img/logo.png' %}" alt="orquesta logo">
			</h1>
			<p class="lan-subtitle">Sistema de Orquesta y Coros Juveniles e Infantiles del Estado Portuguesa</p>
			<div class="lan-btn-content">
				<a href="{% url 'principal:login' %}" class="lan-btn">ENTRAR</a>
			</div>
		</div>
		<section id="galeria" class="lan-galeria">
			<h2 class="lan-title lan-title-galeria">GALERÍA</h2>
			<div class="lan-galeria-fotos" id="lan-galeria-fotos">
				<span onclick="lanFotosNext();" class="lan-galeria-fotos-button next" id="lan-galeria-fotos-next"><i class="fa fa-angle-right"></i></span>
				<span onclick="lanFotosBack();" class="lan-galeria-fotos-button back" id="lan-galeria-fotos-back"><i class="fa fa-angle-left"></i></span>
				{% for foto in galeria %}
					{% if foto.visible == 'S' %}
						<img src="{{ foto.imagen.url }}" alt="orquesta galeria {{ foto.id }}">
					{% endif %}
				{% endfor %}
			</div>
		</section>
		<section class="lan-nosotros-responsive">
			<img class="lan-nosotros-responsive-img" src="{% static 'img/galeria/photo10.jpg' %}" alt="orquesta galeria 10">
			<h2 class="lan-title" style="padding-top: 1rem;">Nosotros</h2>
			<p>Fue fundado por iniciativa del doctor Francisco Betancourt en Agosto 1979, bajo la dirección artística de Henry Zambrano, dirección general de Raúl Díaz, la coordinación de Aida de Betancourt y en el apoyo docente de la orquesta de Lara. Es una institución de 36 años de exitosa trayectoria y en ella se han formado músicos de alto nivel que en la actualidad nos representan dignamente dentro y fuera del país. Atiende una población de 750 niños de todos los estratos sociales en canto coral e instrumento sinfónico o tradicional venezolanos. Han sido sus directores musicales Raúl Díaz, Henry Zambrano, René Álvarez, Marcos Pérez y en la actualidad la maestra Raquel Castillo.</p>
			<div class="lan-btn-content">
				<a href="{% url 'principal:nosotros' %}" class="lan-btn">VER MÁS</a>
			</div>
		</section>
		<!--<section id="nosotros" class="lan-nosotros">
			<div class="lan-nosotros-img">
				<img src="{% static 'img/galeria/photo10.jpg' %}" alt="orquesta galeria 10">
				<h2 class="lan-title">Nosotros</h2>
			</div>
			<div class="lan-nosotros-content">
				<p>Fue fundado por iniciativa del doctor Francisco Betancourt en Agosto 1979, bajo la dirección artística de Henry Zambrano, dirección general de Raúl Díaz, la coordinación de Aida de Betancourt y en el apoyo docente de la orquesta de Lara. Es una institución de 36 años de exitosa trayectoria y en ella se han formado músicos de alto nivel que en la actualidad nos representan dignamente dentro y fuera del país. Atiende una población de 750 niños de todos los estratos sociales en canto coral e instrumento sinfónico o tradicional venezolanos. Han sido sus directores musicales Raúl Díaz, Henry Zambrano, René Álvarez, Marcos Pérez y en la actualidad la maestra Raquel Castillo.</p>
				<div class="lan-btn-content">
					<a href="{% url 'principal:nosotros' %}" class="lan-btn">VER MÁS</a>
				</div>
			</div>
		</section>-->
		<section id="contacto" class="lan-contacto">
			<h2 class="lan-title lan-title-galeria">CONTACTO</h2>
			<form class="row">
				<div class="input-field col s12 m6">
					<input placeholder="Correo" type="email" id="lan-form-mail" class="validate" required>
					<label for="lan-form-mail">Correo</label>
				</div>
				<div class="input-field col s12 m6">
					<input placeholder="Asunto" type="text" id="lan-form-asunto" class="validate" required>
					<label for="lan-form-asunto">Asunto</label>
				</div>
				<div class="input-field col s12" style="margin-top: 3rem">
					<textarea id="lan-form-asunto" placeholder="Mensaje" class="materialize-textarea"></textarea>
					<label for="lan-form-asunto">Mensaje</label>
				</div>
				<div class="lan-btn-content col s12">
					<input type="submit" class="lan-btn" value="ENVIAR">
				</div>
			</form>
		</section>
	</main>

	<footer class="lan-footer">
		<a href="#" style="background: #0d47a1; color: #ffffff;"><i class="fab fa-facebook"></i></a>
		<a href="#" style="background: #039be5; color: #ffffff;"><i class="fab fa-twitter"></i></a>
		<a href="#" style="background: linear-gradient(#311b92 20%,#f57f17); color: #ffffff;"><i class="fab fa-instagram"></i></a>
	</footer>

	<script type="text/javascript" src="{% static 'lib/materialize/js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<script type="text/javascript">
		{% if messages %}
		    {% for message in messages %}
		    	M.toast({html: '{{ message }}'})
		    {% endfor %}
		{% endif %}
	</script>
</body>
</html>